@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

@theme {
    --font-gabarito: "Gabarito", sans-serif;
    --color-vscode-background: #1f1f1f;
    --color-vscode-foreground: #cccccc;
    --color-vscode-error: #f85149;
    --color-vscode-border: #3c3c3c;
}