@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

@theme {
    --animate-bg-skeleton: waveBackground 1s infinite reverse;

    --font-gabarito: "Gabarito", sans-serif;
    --color-vscode-background: #1f1f1f;
    --color-vscode-foreground: #cccccc;
    --color-vscode-error: #f85149;
    --color-vscode-border: #3c3c3c;
    --color-vscode-link: #4daafc;
    --color-vscode-description: #9d9d9d;
    --color-vscode-menu-color: #2b2b2b;
    
    @keyframes waveBackground {
        0% {
            background-position: -100% 0;
        }
        100% {
            background-position: 100% 0;
        }
    }

    @keyframes loading {
        0%, 100% {
            stroke-dashoffset: 0;
        }
        50% {
            stroke-dashoffset: 300;
        }
    }
}

@layer components {
    .triangle {
        stroke-dasharray: 100;
        animation: loading 1s ease-in-out infinite forwards;
    } 
    .skeleton {
        animation: waveBackground 1.5s linear infinite reverse;
        background: linear-gradient(90deg, var(--color-vscode-border), var(--color-vscode-background), var(--color-vscode-border));
        background-size: 200%;
    }
}